body {
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	margin: 0;
	font-family: rubik;
}
li{
	list-style: none;
}

h1{
	text-align: center;
	color: #3e6bb3;
	font-weight: bold;
	font-family: 'Montserrat';

}
.pokedex {
	display: flex;
	justify-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	background-color: #3dbf89;
	margin-bottom: 1rem;
	margin-left: 1rem;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}
.card-title{
	font-family: 'Ubuntu', sans-serif;
	
}
.card-subtitle{
	font-family: 'Montserrat';
}
.card-image{
	width: 180px;
	
}

@media only screen and (max-width: 431px) {
	.card-image{
		width: 160px;
	}
	.card-title{
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		
	}
	.card-subtitle{
		font-family: 'Montserrat';
		font-size: 15px;
	}
	
	
	
  }

